body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
.merda img {
margin-top: 30px;
margin-left: 300px;
    border-radius: 30px;
    border:  #007BFF solid 5px;
}
.tatiel {
    font-size: 20px;
    text-decoration: underline #007BFF;
}
.nenem {
    color:  #007BFF;
}
.branco{
    color: white;
}
.video {
    margin-left: 500px;
}
a {
    color: #007BFF;
    text-decoration: none;
}
.nome img {
    display: flex;
    margin-left: 20px;
  width: 20px;
  height: 20px;
}

.bosta img{
display: flex;
    width: 40px;
  height: 40px;
}
.datan {
    text-decoration: underline black solid 3px;
}
